{% extends 'base.html' %}
{% load static %}

{% block title %} Cars {% endblock %}

					{% block header %}

					<!-- Header -->
					<header id="header">
						<h1><a href="{% url 'index' %}">Rides Shop</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

					{% endblock %}

					{% block content %} 

					{% load shop_tags %}

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Our Latest Offers</h2>
								<p>Phasellus non pulvinar erat. Fusce tincidunt nisl eget ipsum.</p>
							</div>
						</header>
						

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">

									<h3 class="major">Lorem ipsum dolor</h3>
									<p>Morbi mattis mi consectetur tortor elementum, varius pellentesque velit convallis. Aenean tincidunt lectus auctor mauris maximus, ac scelerisque ipsum tempor. Duis vulputate ex et ex tincidunt, quis lacinia velit aliquet. Duis non efficitur nisi, id malesuada justo. Maecenas sagittis felis ac sagittis semper. Curabitur purus leo donec vel dolor at arcu tincidunt bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce ut aliquet justo. Donec id neque ipsum. Integer eget ultricies odio. Nam vel ex a orci fringilla tincidunt. Aliquam eleifend ligula non velit accumsan cursus. Etiam ut gravida sapien.</p>

									<p>Vestibulum ultrices risus velit, sit amet blandit massa auctor sit amet. Sed eu lectus sem. Phasellus in odio at ipsum porttitor mollis id vel diam. Praesent sit amet posuere risus, eu faucibus lectus. Vivamus ex ligula, tempus pulvinar ipsum in, auctor porta quam. Proin nec commodo, vel scelerisque nisi scelerisque. Suspendisse id quam vel tortor tincidunt suscipit. Nullam auctor orci eu dolor consectetur, interdum ullamcorper ante tincidunt. Mauris felis nec felis elementum varius.</p>

									<hr>

									<form method="get">
										{{ filter.form.as_p }}
										<input type="submit" />
									</form>

									<section class="features">
										{% for car in page_obj %}
										<article>
											<a href="{% url 'car' car.slug %}" class="image"><img src="{{ car.image.url }}" alt="" width="100px"/></a>
											<h3 class="major">{{ car.title|upper }}</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Details</a>
										</article>
										{% endfor %}
									</section>
									<section class="features">
										<ul class="pagination">
											{% if page_obj.has_previous %}
											<li><a href="{% my_url 1 'page' request.GET.urlencode %}" class="page active">first</a></li>
											<li><a href="{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}" class="page active">previous</a></li>
											{% endif %}
											<li><a href="#" class="page"><p>page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p></a></li>
											{% if page_obj.has_next %}
											<li><a href="{%  my_url page_obj.next_page_number 'page' request.GET.urlencode %}" class="page active">next</a></li>
											<li><a href="{% my_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}" class="page active">last</a></li>
											{% endif %}
										</ul>
									</section>
								</div>
							</div>

					</section>
			</div>

			{% endblock %}

